{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block content %}
  <h1 class="text-center" style="font-size: 2rem;">Drum Lessons with Oscar</h1>
  <div class="homepage-container">
    <img src="{{ url_for('static', filename='images/jackeddrum.jpeg') }}"
         alt="Jacked Drum"
         class="homepage-photo"
         style="max-width: 280px;">
   <div class="homepage-bio" style="flex-grow: 1; max-width: 750px;">
      <p class="bio-text">Music is about having fun and connecting with people. I believe that everyone has music inside of them and craves to be able to say something with that voice. In my lessons I prioritize having fun (with structure), building a solid foundation, and a holistic understanding of the fundamentals. However, every student is different and I love to make adjustments depending on my student’s needs and what they want to say with their musical voice.</p>

      <p class="bio-text">Throughout my life, I have been lucky enough to study with some incredible drummers such as: Matt Gartska, Xavier Ware, Thomas Pridgen, Willie Howell, Alex Cohen, Al Sergel, and Jason Singleton. I also studied traditional West African drumming in Ghana during the summer in 2025.</p>

    <p class="bio-text"><strong>Currently living in Boone North Carolina, I teach lessons in-person.</strong></p>

      <p class="bio-text"><strong>My rate is 60$ an hour, 30$ for half an hour.</strong></p>
      
    </div>
  </div>
  <!-- social_links.html -->
<div class="social-dropdown" style="margin-top: -1rem;">
  <button onclick="toggleSocials('social-list')" class="social-button">Schedule a Lesson</button>
  <div id="social-list" class="social-list hidden">
    <div style="margin-top: 1rem; text-align: center;">
      <a href="https://instagram.com/oscaryarbrough" target="_blank">
        <img src="{{ url_for('static', filename='images/instagram.jpeg') }}" alt="Instagram" style="height: 50px; margin: 0 10px;">
      </a>
      <a href="mailto:oscaryarbrough1@gmail.com">
        <img src="{{ url_for('static', filename='images/email.png') }}" alt="Email" style="height: 50px; margin: 0 10px;">
      </a>
      <a href="sms:+17044921780">
        <img src="{{ url_for('static', filename='images/call.png') }}" alt="Text Me" style="height: 50px; margin: 0 10px;">
      </a>
      <p style="font-size: 0.6em; margin-top: 0.5rem;">Click the icons. Contacting me any of these ways works!</p>
    </div>
  </div>
</div>
{% endblock %}
<script>
  function toggleSocials(id) {
    const list = document.getElementById(id);
    list.classList.toggle("hidden");
  }
</script>